body {
  margin: 0;
  font-family: 'Inter', system-ui, sans-serif;
  color:  #b3ffff;
}

.container{
    background-color: rgba(41, 60, 100, 0.9);
    border-bottom: 1px solid #374151;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav{
    width: 90%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 10vh;
}
.links{
  display: flex;
  gap: 75px;
  width: 70%;
}
.sidebar-links, .hamburger{
    display: none;
}

li{
    list-style: none;
    text-align: center;
}
a{
    text-decoration: none;
    color: #b3ffff;
    text-transform: uppercase;
}
#logo{
    width: 30%; 
}

main{
    background-color: #1E293B;
    height: 90vh;
   
}
.hero{
  
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap: 5px;
}

.hero-text{
  width: 40%;  
  display: flex;
  flex-direction: column;
  gap: 25px;
  color: #b3ffff;
}
.hero-text p{
    line-height: 3rem;
    font-size: 1.2rem;
    color: #fff86c;
}
#features{
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    color: #1E293B;
    padding:50px ;
    height: 45vh;
    gap: 100px;
}
.features-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    padding: 25px;
    width: 275px;
    gap:35px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.3);
    border: 1px solid rgba(255,255,255,0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
button{
    background-color: #fffc80;
    color: #1E293B;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    height: 40px;
    font-size: 14px;
    text-transform: uppercase;
}
.icons{
    display: flex;
    gap: 20px;
}

footer{
    background-color: #0F172A;
    border-top: 1px solid #374151;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    width: 100%;
    height: 18vh;
    margin-top: 350px;
}