body {
  margin: 0;
  font-family: "Comic Neue", cursive;
  font-weight: 300;
  font-style: normal;
  color:  #b3ffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.alert {
  position: fixed;
  width: 20%;
  top: 40vh;
  left: 50%;
  transform: translateX(-50%);
  background: #facc15;
  color: #000;
  padding: 50px 50px;
  border-radius: 8px;
  font-weight: 600;
  display:none;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  text-align: center;
}

.alert button {
  margin-top: 10px;
  padding: 6px 16px;
  border: none;
  background: #000;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
}

.alert button:hover {
  opacity: 0.85;
}
header{
    display: flex;
    flex-direction: column;
}

.container{
    background-color: rgba(41, 60, 100, 0.9);
    border-bottom: 1px solid #374151;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav{
    width: 90%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 10vh;
}
.links{
  display: flex;
  gap: 25px;
  justify-content: space-around;
  width: 70%;
}
.sidebar-links, .hamburger, .close{
    display: none;
}
.active-sidebar{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 30%;
    height: 100vh;
    background-color:  rgba(41, 60, 100, 0.9);
}
.close{
position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
}
Ul{
margin: 0;
padding: 20px;

}

li{
    list-style: none;
    text-align: center;
}
a{
    text-decoration: none;
    color: #b3ffff;
    text-transform: uppercase;
}
#logo{
    width: 30%; 
}

main{
    background-color: #1E293B;
    flex: 1;
   
}
.hero{
  
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap: 5px;
    height: auto;
}
.hero-image img{
  max-width: 100%;
  height: auto;

}
.hero-image{
    width: 40%;
   
    text-align: end;
}
.hero-text{
  width: 50%;  
  display: flex;
  flex-direction: column;
  gap: 25px;
  color: #b3ffff;
}
.hero-text p{
    line-height: 3rem;
    color: #fff86c;
}
.hero-text h2{
      color: #fb923c;

}
#features{
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    color: #1E293B;
    padding:50px ;
    height: auto;
    gap: 100px;
}
.features-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    padding: 20px;
    width: 290px;
    gap:35px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.3);
    border: 1px solid rgba(255,255,255,0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
button{
    background-color: #fffc80;
    color: #1E293B;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    height: 40px;
    font-size: 14px;
    text-transform: uppercase;
}
.icons{
    display: flex;
    gap: 20px;
}

footer{
  background-color: #0F172A;
  border-top: 1px solid #374151;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-top: 0;
  text-align: center;
}




@media(max-width:1100px){
.links{
    display: none;
}
.hamburger{
    display: block;
}


}
@media(max-width:1024px){
    #features{
        flex-direction: column;   
        align-items: center;     
    }
    .features-card{
        width: 400px;
    }
    body{
        font-size: 0.8rem;
    }
}
@media(max-width:430px){
    .features-card{
        width: 280px;
    }
}


